*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#board {
  margin: 3rem auto;
}

.row {
  display: flex;
}

.circle {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}