<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/style.css">
  <title>Connect 4</title>
</head>



<body>
  <main>
    <div class="modal">
      <h2> <span id="winner">Red</span> wins!!!</h2>
      <p>Do you want to play again? <span id="yes">Yes</span> <span id="no">No</span></p>
    </div>

  </main>

  <script> </script>
  <script type="module" src="public/script.js"></script>
</body>

</html>
